In [1]:
import pandas as pd
import sqlite3

In [2]:
con = sqlite3.connect('dataset.db')
cur = con.cursor()

In [3]:
sql = "pragma table_info('paragraph_dataset')"
res = cur.execute(sql)
for x in res.fetchall():
    print(x)

(0, 'category', 'TEXT', 1, None, 0)
(1, 'passage', 'TEXT', 1, None, 0)

In [4]:
sql = "SELECT * FROM paragraph_dataset"
res = cur.execute(sql)

labels = []
paragraphs = []
for x in res.fetchall():
    labels.append(x[0])
    paragraphs.append(x[1])

In [5]:
df = pd.DataFrame()
df['label'] = labels
df['paragraph'] = paragraphs
df

             label                                          paragraph
0        Academics  Associate Professor Song has expanded the Busi...
1        Academics  MSLIS student and ALA Spectrum Scholar Reynoso...
2        Academics  Professor Downie gave the keynote for the 2023...
3        Academics  COURSE LOADS AND OVERLOADS\nThe normal course ...
4        Academics  The maximum number of hours a student can take...
...            ...                                                ...
2462  Student Life  There are 276 student organizations on this ca...
2463  Student Life  If you don't know what Carnival is, then you d...
2464  Student Life  If there's just one word to describe the Carne...
2465  Student Life  CMU has athletics but in all honesty there are...
2466  Student Life  There are many organizations on campus to be i...

[2467 rows x 2 columns]

In [6]:
df.to_csv('new_dataset.csv', index=False)

In [7]:
df2 = pd.read_csv('new_dataset.csv')
df2

             label                                          paragraph
0        Academics  Associate Professor Song has expanded the Busi...
1        Academics  MSLIS student and ALA Spectrum Scholar Reynoso...
2        Academics  Professor Downie gave the keynote for the 2023...
3        Academics  COURSE LOADS AND OVERLOADS\nThe normal course ...
4        Academics  The maximum number of hours a student can take...
...            ...                                                ...
2462  Student Life  There are 276 student organizations on this ca...
2463  Student Life  If you don't know what Carnival is, then you d...
2464  Student Life  If there's just one word to describe the Carne...
2465  Student Life  CMU has athletics but in all honesty there are...
2466  Student Life  There are many organizations on campus to be i...

[2467 rows x 2 columns]